# Copy to .env and update values
DEBUG=1
SECRET_KEY=scraper-service-dev-key

DB_NAME=aeroops_db
DB_USER=aeroops_user
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

DJANGO_TIME_ZONE=Asia/Kolkata
LOG_LEVEL=INFO
