venv/
backend/venv/
backup/venv/
backups
.venv/
env/
.env
*.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
frontend/node_modules/
frontend/dist/
*.swp
*.swo
*.DS_Store
*.egg-info/
dist/
build/
*.egg
*.log
*.coverage
.coverage.* 
pids/*.pidups_*.html
ups_*.html
