Django>=5.2
asgiref>=3.8
python-dateutil>=2.9
python-dotenv>=1.0
curl-cffi>=0.7
playwright>=1.48
beautifulsoup4>=4.12
lxml>=5.3
requests>=2.32
psycopg2-binary>=2.9
django-celery-beat>=2.5.0
fake-useragent>=1.5.1
